.footer {
  position: fixed; /* stick to bottom */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px; /* thin footer */
  /* line-height: 30px; */
  background-color: #ff951c;
  color: white;
  text-align: center;
  z-index: 999;
  font-size: 14px;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}
