.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

.logo-container {
  margin-bottom: 30px;
}
.logo {
  max-width: 250px;
  width: 100%;
  height: auto;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 12px 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 24px;
  outline: none;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-buttons {
  background-color: #ff810a;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  background-color: #ff810a;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ff810a;
}

.results ul {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 500px;
  cursor: pointer;
}

.results li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.results li:hover {
  background-color: #f7f7f7;
}
